.RadioList{
    flex-grow: 2;
    background-color: grey;
    overflow: scroll;
    height: 0px;
    display: flex;
    flex-direction: column;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.RadioList::-webkit-scrollbar {
    display: none;
  }

.radioChannel{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: aliceblue;
    font-weight: 700;
    font-size: 18px;
}

.react-ripples{
    height: 50px;
    width: 100%;
}